<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url  'createemp'%}">Create Employee</a>
    <table border="1" width="100%">
        <tr>
            <th>Empno</th>
            <th>Ename</th>
            <th>job</th>
            <th>salary</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {%for row in emp%}
        <tr>
            <td>{{row.empno}}</td>
            <td>{{row.ename}}</td>
            <td>{{row.job}}</td>
            <td>{{row.sal}}</td>
            
            <td><a href="{% url 'update_emp' row.empno %}" >Update </a></td> <!--request is sent to update view and empno -->
            <td><a href="{% url 'delete_emp' row.empno %}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>