<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>All Books Information</h1>
  {% for book in book_list %}
  <ul>
    <li>Title:<strong>{{book.title}}</strong></li>
    <li>Author:<strong>{{book.author}}</strong></li>
    <li>Pages:<strong>{{book.pages}}</strong></li>
    <li>Price:<strong>{{book.price}}</strong></li>
  </ul>
  <hr>
  {% endfor %}
</body> 
</html>