<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
    <link rel="stylesheet" href="{% static 'css/emp1.css'%}">
</head>

<body>
    <h1>Employee List </h1>
    {% if emp_list %}
    <table border="3">
        <thead>
            <th>ENO</th>
            <th>ENAME</th>
            <th>ESAL</th>
            <th>EADDR</th>
        </thead>

        {% for val in emp_list %}
        <tr>
            <td>{{val.eno}}</td>
            <td>{{val.ename}}</td>
            <td>{{val.esal}}</td>
            <td>{{val.eaddr}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p> NO Records Found !!!</p>
    {% endif %}
</body>

</html>