<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Here read is the path name in urls.py -->
    <form action="/read" method="get">
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>