<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/std.css' %}">
</head>
<body>
    <h1>Student Information</h1>
    {% if student_list  %}
    {% for student in student_list %}
    <h2>{{student.name}} Information</h2>
    <ul>
        <li>student RollNo :{{student.rollno}}</li>
        <li>student DOB :{{student.dob}}</li>
        <li>student Marks :{{student.marks}}</li>
        <li>student Email :{{student.email}}</li>
        <li>student Phone Number :{{student.phonenumber}}</li>
        <li>student Address :{{student.address}}</li>
    </ul>
    <hr>
    <br>
    {% endfor %}
    {% else %}
    <p> No records found in database...</p>
    {% endif %}

    
</body>
</html>