<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: red
        }

        h2 {
            color: blue;
        }
    </style>
</head>

<body>
    <h1>welcome to the Django Templates </h1>
    <!-- <h2>Second HERO in Templates</h2> -->
    <h2>Now server time is :{{insert_date}}</h2>

    <ol>
        <li>Name:{{name}}</li>
        <li>Marks:{{marks}}</li>
        <li>Rollno:{{rollno}}</li>
    </ol>


</body>

</html>