<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- todo- Once you have to login with username and password you have to send the request to view /loginview/  -->
    <table border="2">
        <form action="/loginview/" method="POST">
            {%csrf_token%}
            <tr>
                <td>UserName</td>
                <td><input type="text" name="user"></td>
            </tr>
            <tr>
                <td>Password</td>
                
                <td><input type="password" name="password"></td>
                
            </tr>
            <tr>
                <td><input type="submit" name="login"></td>
            </tr>
        </form>
    </table>
</body>
</html>