<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data"> <!--todo multipart/form-data is try to send image in two part 1 is file name 1 is file data-->
        {%csrf_token%}
        <table>
        {{form.as_table}}
        <tr>
        <td><input type="submit" value="save"></td>
        </tr>
        </table>
    </form>
</body>
</html>