<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: rgb(243, 231, 139);
        }
    </style>
</head>
<body>
    <h1>this is index page</h1>
    <a href="http://127.0.0.1:8000/about/">About</a><br>
    <a href="http://127.0.0.1:8000/courses/">Courses</a><br>
    <a href="http://127.0.0.1:8000/contacts/">Contacts</a><br>

</body>
</html>