<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {%include "header.html" %}
    <p>
        This tag is used to include the content of one template inside another template. It provides only
    reusability but does not provides extensibility
    Syntax1: include template-name
    Syntax2: include template-name with variable-name=value variable-name=value
    </p>
    {%include "footer.html" %}
</body>
</html>