<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <form action="/newuser/" method="post">
            {%csrf_token%}
            <tr>
                <td>UserName</td>
                <td><input type="text" name="user"></td>
            </tr>
            <td><tr>
                <input type="submit" value="submit">
            </tr></td>
        </form>
    </table>
</body>
</html>