
body{
    background: rgb(244, 172, 244);
    color:black;

}
h1{
    text-align: center;
    

}
h2{
    color:rgb(248, 4, 29);
}

hr {
    height: 2px;
    width: 95%;
    background-color: #333;
    border: none;
    margin: 20px auto;
    border-radius: 5px;
  }
  
  